/* YourWebPartName.module.scss */

.calendarReport {
  padding: 20px; /* Example padding, adjust as needed */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.header {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

/* Initially hide the table and header */
#reportTable, .header {
  display: none;
}

.form-details{
  border: 1px solid black;
  padding: 20px;;
}


@media print {
  @page {
    size: A3;
    margin: 0;
  }
  body {
    margin: 1cm;
  }
  /* Hide buttons and form elements during print */
  button, .form-select, .form-control, .form-label, .mb-3 {
    display: none !important;
  }
  /* Show the table and header during print */
  #reportTable, .header {
    display: block;
  }
}
